/* BOX MODEL */
* {
  box-sizing: border-box;
}

/* TEXT STYLING */

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: black;
    margin: 0;
}

/* HEADER STYLING */

.header {
  padding: 20px;
  text-align: center;
  color: #333333;
}

/* NAVIGATION BAR STYLING */

.navigationBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  border: 2px solid #666666;
  border-radius: 5px;
}

.navigationBar li {
  float: left;
}

.navigationBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationBar li a:hover {
  background-color: #666666;
}

.navigationBar li a.active {
  background-color: #999999;
}

/* CALCULATOR STYLING */

.calculatorGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 10px;
  padding-top: 10%;
  padding-right: 30%;
  padding-left: 25%;
  padding-bottom: 20%;
  grid-row-gap: 30px;
  grid-column-gap: 10%;
  background-image: url("images/image3.jpg");
  background-size: cover;
  background-position: center;
}

.calculatorDisplay {
  grid-column: 1 / 5;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  border-radius: 10px;
  padding: 3%;
  font-size:3vw;
  color: white;
  cursor: default;
}

.calculatorKey {
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  border-radius: 30px;
  padding: 8%;
  text-align: center;
  font-size:2vw;
  color: white;
  cursor: pointer;
}

.calculatorKey:hover {
  background-color: rgba(255, 255, 255, 0.1);
  /* color: black; */
}

.calculatorKey:active {
  background-color: rgba(0, 0, 0, 0.3);
  /* color: white; */
}
